:root {
    --primary_color: #1b3703;
    --secondary_color: #fbaf00;
    --backgrond_app: #f8fcfe;
    --shadow: 0px 3px 8px rgba(27, 55, 3, 0.16);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", sans-serif;
    color: var(--primary_color);
    background-color: var(--backgrond_app);
  }
  
  a {
    text-decoration: none;
    color: var(--primary_color);
  }
  
  ul {
    list-style-type: none;
  }
  
  input[type="text"] {
    outline: none;
    border: none;
  }
  
  