:root {
  --primary_color: #1b3703;
  --secondary_color: #fbaf00;
  --backgrond_app: #f8fcfe;
  --shadow: 0px 3px 8px rgba(27, 55, 3, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: var(--primary_color);
  background-color: var(--backgrond_app);
}

a {
  text-decoration: none;
  color: var(--primary_color);
}

ul {
  list-style-type: none;
}

input[type="text"] {
  outline: none;
  border: none;
}


.container{
  
}

/* START HEADER */

.header {
  height: 60px;
  padding: 0  1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

.logo {

}

.logo__app {
  height: 40px;
  max-height: 50px;
}

.header__icons {
}

.icon__shopping {
  cursor: pointer;
}

.icon__burguer {
  margin-left: 1em;
  cursor: pointer;
}

.header__menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #1b370360;
  transition: transform 0.6s ease-in-out;
  transform: translate(110%);
  z-index: 2;
}

.header__menu--show {
  transform: translate(0%);
}

.box__close {
  width: 45px;
  height: 45px;
  margin-left: 24px;
  margin-top: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgrond_app);
  border-radius: 50%;
}

.icon__close {
  width: 20px;
  cursor: pointer;
}

.menu__options {
  width: 75%;
  padding: 30px 24px 0 24px;
  background-color: var(--backgrond_app);
}

.option {
}

.option__account {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.account__profile {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.account__info {
}

.info__name {
  font-size: 1.3em;
}

.info__direction {
  font-size: 0.9em;
}

.icon__edit {
  width: 25px;
}

.option li {
  padding-bottom: 20px;
}

.option__icon{
  display: inline-flex;
  align-items: center;
}

.option__icon span{
  font-size: 1.2em;
  margin: 0 1.5em;
}

/* END HEADER */

/* START SHOPPING CART */

.shopping{
  position: absolute;
  top: 70px;
  width: calc(100% - 48px);
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  transform: scale(0);
  transition: transform .3s .2s;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.shopping::before{
  border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -45px;
    right: 35px;
}

.shopping__title{
  font-size: 20px;
  margin-bottom: 24px;
}

.shopping__item{
  margin-bottom: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.item__image{
  grid-column: 1/3;
  grid-row: 1 / 3;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.item__element  {
  grid-column: 3 / 9;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item__element img {
  width: 16px;
}

.item__element2{
  grid-column: 3 / 9;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
}


.shopping__total{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.shopping__buttons{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button{
  width: 110px;
  height: 36px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--primary_color);
}

.button--primary{
  color: #fff;
  background-color: var(--primary_color);
}

.shopping__background{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-120vh);
  background-color: #1b370360;
}

.shopping--show{
  scale: 1;
  transform: translateY(0vh);
  
}


/* END SHOPPING CART */


/* START SEARCH COMPONENT */
main{
    
}

.search{
  margin: 25px 0 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 0  1.5em;
}

.search__icon{
  margin: 9px;
  position: absolute;
  width: 24px;
}

.search__text{
    width: 100%;
    height: 40px;
    box-shadow: var(--shadow);
    font-size: 16px;
    text-indent: 45px;
    border-radius: 50px;
}

/* END SEARCH COMPONENT */

/* START HERO SECTION */

.hero{
  padding: 0 1.5em;
  overflow: hidden;
}

.title{
    font-size: 1.5em;
    font-weight: 500;
}

/* START FRAMEWORK SWIPER JS */

.hero__carousel {
  width: 100%;
  height: 25vh;
  margin: 10px 0;
}

.carousel__slide {
  font-size: 2vh;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary_color);
  box-shadow: var(--shadow);
  border-radius: 10px;
  cursor: pointer;
}

.slide__title{
  font-size: calc(1.4em + 1vh);
  font-weight: bold;
  font-style: italic;
  line-height: 1.1;
}

.slide__img{
  min-height: 20%;
  object-fit: cover;
  filter: drop-shadow(var(--shadow));
}

.carousel__slide:nth-child(2n) {
  width: 100%;
  color: #F8FCFE;
  background: var(--primary_color);
}

.carousel__slide:nth-child(2n) p {
  font-weight: 600;
}

.carousel__slide:nth-child(3n) {
  width: 100%;
  background: var(--backg-color);
}

/* END FRAMEWORK SWIPER JS */

/* START OFFERS*/

.offers{
  padding: 0 1.5em;
  display: block;
  overflow: hidden;
}

.offers__carousel{
  width: 100%;
  height: 25vh;
  margin: 10px 0;
}

.offers__card{
  max-width: calc(50% - 6px);
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: 10px;
  cursor: pointer;
}

.card__images{
  grid-column: 1 / 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image__product{
  width: 100%;
  height: 16vh;
  grid-column: 1 / 4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.image__bushiness{
  position: absolute;
  width: 5vh;
  height: 5vh;
  margin: 5px;
  grid-column: 1 / 2;
  background-size: cover;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.desc{
  position: absolute;
  width: 6vh;
  height: 4vh;
  margin-right: 5px;
  padding: 5px;
  grid-column: 3 / 4;
  align-self: flex-end;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
}

.desc p {
  font-weight: 500;
}


.offers__product{
  grid-column: 1 / 9;
  align-self: flex-end;
  margin-bottom: 5px;
}

.offers__price{
  grid-column: 1 / 5;
  align-self: center;
  font-weight: 500;
}

.offers__icons{
  grid-column: 6 / 9;
  display: flex;
  justify-content: space-around;
}

.icon-heart__offers{
  width: 22px;
}

.icon-shopping__offers{
  width: 22px;
}

/* END OFFERS*/

/* START CATEGORY */

.category{
  width: 100%;
  padding: 0 1.5em;
}

.category__options{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.option__event{
  padding: 5px;
  margin-bottom: 10px;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.option__event:nth-child(2n) {
  grid-column: 3 / 5;
}

.option__event:nth-child(3n) {
  grid-column: 5 / 7;
}

.option__event:nth-child(4n) {
  grid-column: 2 / 4;
}

.option__event:nth-child(5n) {
  grid-column: 4 / 6;
}

.event__icon{
  height: 3.5vh;
}

.event__text{
  font-size: 2vh;
  line-height: 1.1;
  font-weight: 400;
}

/* END CATEGORY */

/* START MODAL */

.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: translateX(-120vw);
  background-color: #1b370360;
}

.modal__info{
  margin-top: 10vh;
  width: 100%;
  padding: 1.5rem;
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #fff;
  box-shadow: 8px 0px 10px rgba(27, 55, 3, 0.123);
}

.info__title{
  grid-column: 1/ 6;
  font-size: 1.4em;
  justify-self: start;
}

.info__close{
  grid-column: 6/ 7;
  width: 25px;
  justify-self: end;
  align-self: center;
  cursor: pointer;
}

.info__img{
  grid-column: 1/ 7;
  width: 200px;
  margin: 20px;
  justify-self: center;
}

.info__paragraph{
  grid-column: 1/ 7;
  font-size: 1.2em;
}

.modal--show{
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform .3s .2s;
}



/* END MODAL */


/* START PRODUCTS */

.products {
  padding: 0 1.5em;
}

.products__items{
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* END PRODUCTS */

@media only screen and (min-width:500px){
  .container{
    position: relative;
    width: 420px;
    height: 700px;
    margin: 10vh auto;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 30px;
    box-shadow: var(--shadow);
  }

  .header__menu{
    position: absolute;
  }

  .modal{
    position: absolute;
  }

  .container::-webkit-scrollbar{
    width: 0px;
  }

}